@import "./../../assets/style/colors/colors.scss";
@import "./../../assets/style/fonts/fonts.scss";

.historicalPage {
  display: flex;
  flex-direction: row;
  margin-top: 43px;
  padding: 0 2.8%;

  &__dropBox {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
    align-items: center;
  }
  &__btn {
    margin-top: 30px;
  }
}
