@import "./../../assets/style/colors/colors.scss";
@import "./../../assets/style/fonts/fonts.scss";

.comparisonPage {
  display: flex;
  flex-direction: row;
  margin-top: 43px;
  padding: 0 2.8%;
  justify-content: space-between;

  &__dropBox {
    width: 27.6%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;
    .dropMenu:nth-child(2) {
      margin-top: 10px;
    }
  }
  &__btn {
    margin-top: 20px;
  }
  &__result {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 12px 30px;
    max-height: 300px;
    overflow-y: scroll;
    font-family: Roboto;
    font-size: 16px;
    line-height: 18px;
    color: $black;
    &Items {
      min-width: 30%;
      max-height: 40px;
      background-color: $lightBlue;
      border-radius: 10px;
      padding: 10px;
    }
  }
}
